
body{
    background-color: rgb(214, 241, 253);
}



.botaoMain{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;


}
.botaoMain:hover{
    opacity: 50%;
}

a.botaoMain{
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
}
a.botaoMain:hover{
    color: white;
}

hr{
    border: 1px dotted rgb(55, 0, 255);
}

.addMaq{
    background-color:  rgb(0, 110, 255); 
    color: white;
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border-radius: 10px;
    border: none;

}

.addMaq:hover{
    color: white;
    opacity: 50%;
}